@import "./_mixin.scss";

.homepage {
  background-color: #f2f7fa;
  .home_first_half > div {
    font-size: 30px;
    // border: 1px solid red;
  }

  .home_first_half {
    h2 {
      font-size: 16px;
      color: #1261a0;
    }
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px 20px;
    padding: 10px;
    width: 100%;
  }

  .order_box {
    grid-column: 1 / span 3;
    height: 100%;
  }
  .appointment_box {
    height: 100%;
  }

  // <------- Second Half of Home Page ------->

  .home_second_half {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px 20px;
    padding: 10px;
    width: 100%;

    .apex_chart_container {
      // border: 1px solid green;
      background-color: #ffffff;
      grid-column: 1 / span 3;
      height: 100%;
    }

    // .recent_orders_container {
    //   border: 1px solid transparent;
    // }
  }
}
