@import "./_mixin.scss";

.homepage {
  .order-heading {
    color: #1261a0;
    font-size: 20px;
    padding-left: 10px;
  }
  background-color: #f2f7fa;
  height: 100vh;
  .home_first_half > div {
    font-size: 30px;
    // border: 1px solid red;
  }

  .home_first_half {
    h2 {
      color: #1261a0;
      font-size: 20px;
      padding-left: 2px;
    }
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px 20px;
    padding: 10px;
    width: 100%;
  }

  .order_box {
    grid-column: 1 / span 3;
    height: 100%;
  }
  .appointment_box {
    height: 100%;
  }

  // <------- Second Half of Home Page ------->

  .home_second_half {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 20px;
    padding: 10px;
    width: 100%;
    height: 300px;

    .apex_chart_container {
      background-color: #ffffff;
      grid-column: 1 / span 2;
      padding: 20px;
      // height: 100%;
    }

    .recent_orders_container {
    }
  }
}
