@import "./_mixin.scss";

.orderCards {
  h2 {
    font-size: 24px;
    color: #1261a0;
    margin-bottom: 10px;
  }
  .orderContainer {
    @include gridFour(30, 20);
    .ordercard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(99, 99, 99, 0.151) 0px 2px 8px 0px;
      border-radius: 8px;
      background-color: #ffffff;
      padding: 13px 0px;
      margin: 5px 5px;

      .title {
        h2 {
          font-size: 12px;
          color: #6a6a6a;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px 0px;
          // border: 1px solid red;
        }
      }
      .value {
        h2 {
          font-size: 14px;
          color: #343434;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
