@import "./_mixin.scss";

.orderButtons {
  @include gridTwo(30, 23);
  margin-top: 30px;
  .one {
    // border: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1261a0;
    padding: 5px 13px;
    border-radius: 5px;
    h1 {
      font-size: 18px;
      color: #ffffff;
    }
    .plus {
      height: 75%;
    }
  }
  .two {
    display: flex;
    justify-content: space-between;
    background-color: #1261a0;
    align-items: center;
    padding: 5px 13px;
    border-radius: 5px;
    h1 {
      font-size: 18px;
      color: #ffffff;
    }
    .history {
      height: 75%;
    }
  }
}
